{% extends 'base/base.html' %}

{% block content %}
<h1>Edit Inventory</h1>
<br>
<br>
<div class="container">
    <form action="/update_data/{{ data_barang.0 }}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label class="col-sm-2 col-form-label" style="white-space: nowrap;">Tanggal Surat Jalan</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="tanggal_surat_jalan" value="{{ data_barang.1 }}">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="col-sm-2 col-form-label" style="white-space: nowrap;">Tanggal Terima</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="tanggal_terima" value="{{ data_barang.2 }}">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="col-sm-2 col-form-label" style="white-space: nowrap;">Tanggal Buat Item Arrival</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="tanggal_buat_item_arrival" value="{{ data_barang.3 }}">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="col-sm-2 col-form-label" style="white-space: nowrap;"> Tanggal Posting Item Arrival</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="tanggal_posting_item_arrival" value="{{ data_barang.4 }}">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label class="col-sm-2 col-form-label" style="white-space: nowrap;">Tanggal Pallet Transport</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="tanggal_pallet_transport" value="{{ data_barang.5 }}">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kode Barang</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="kode_barang" value="{{ data_barang.6 }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama Barang</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nama_barang" value="{{ data_barang.7 }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">No. PR</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="no_pr" value="{{ data_barang.8 }}">
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">No. PO</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="no_po" value="{{ data_barang.9 }}">
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kode Style</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="kode_style" value="{{ data_barang.10 }}">
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama Style</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nama_style" value="{{ data_barang.11 }}">
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Batch Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="batch_number" value="{{ data_barang.12 }}">
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Batch Vendor</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="batch_vendor" value="{{ data_barang.13 }}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="col-sm-2 col-form-label" style="white-space: nowrap;">Quantity</label>
                <div>
                    <input type="number" class="form-control" name="quantity" value="{{ data_barang.14 }}">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-sm-2 col-form-label" style="white-space: nowrap;">Sisa Kedatangan</label>
                <div>
                    <input type="number" class="form-control" name="sisa_kedatangan" value="{{ data_barang.16 }}">
                </div>
            </div>                      
            <div class="form-group col-md-4">
                <label class="col-sm-2 col-form-label" style="white-space: nowrap;">Expire Date</label>
                <div>
                    <input type="date" class="form-control" name="expire_date" value="{{ data_barang.15 }}">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-sm-2 col-form-label" style="white-space: nowrap;">Satuan Gudang</label>
                <div>
                    <select class="form-control" name="satuan_gudang" value="{{ data_barang.17 }}">
                        <option>ampul</option>
                        <option>box</option>
                        <option>buah</option>
                        <option>g</option>
                        <option>Kit</option>
                        <option>lembar</option>
                        <option>ml</option>
                        <option>set</option>
                        <option>vial</option>
                    </select>
                </div>
            </div>            
            <div class="form-group col-md-6">
                <label class="col-sm-2 col-form-label" style="white-space: nowrap;">Satuan Beli</label>
                <div>
                    <select class="form-control" name="satuan_beli" value="{{ data_barang.18 }}">
                        <option>ampul</option>
                        <option>box</option>
                        <option>buah</option>
                        <option>g</option>
                        <option>Kg</option>
                        <option>Kit</option>
                        <option>lembar</option>
                        <option>L</option>
                        <option>ml</option>
                        <option>set</option>
                        <option>vial</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <h3>Hasil Pengujian Pada Quarantine Area</h3>
        <br>
        <br>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Jenis</label>
                <select class="form-control" name="jenis" value="{{ data_barang.19 }}">
                    <option>Perlengkapan Lab</option>
                    <option>Bahan Kimia</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Kualitas Bahan</label>
                <select class="form-control" name="kualitas_bahan" value="{{ data_barang.20 }}">
                    <option value="0">Baik</option>
                    <option value="1">Tidak Baik</option>
                    <option value="2">Belum Diuji</option>
                </select>
            </div>                    
            <div class="form-group col-md-3">
                <label>Kualitas Kandungan Zat Kimia</label>
                <select class="form-control" name="kualitas_kandungan_zat_kimia" value="{{ data_barang.21 }}">
                    <option value="0">Baik</option>
                    <option value="1">Tidak Baik</option>
                    <option value="2">Belum Diuji</option>
                    <option value="3">Tidak Ada</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Kebersihan Produk</label>
                <select class="form-control" name="kebersihan_produk" value="{{ data_barang.22 }}">
                    <option value="0">Baik</option>
                    <option value="1">Tidak Baik</option>
                    <option value="2">Belum Diuji</option>
                </select>
            </div>                
            <div class="form-group col-md-3">
                <label>Bentuk Fisik</label>
                <select class="form-control" name="bentuk_fisik" value="{{ data_barang.23 }}">
                    <option value="0">Baik</option>
                    <option value="1">Tidak Baik</option>
                    <option value="2">Belum Diuji</option>
                </select>
            </div>            
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}